/* responsive for header nav part----------------------
/* ------------------------------------------------------- * */
@media screen and (max-width:900px){
    header{
        flex-direction: column;
        gap: 30px;
        padding: 0;
        justify-content: center;
        
    }
}
@media screen and (max-width:576px){
    .header-anchore{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    
    }
    
    .header-anchore a{
        font-size: 12px;
    }
    
}
/* responsive for banner----------------
------------------------------------------ */
@media screen and (max-width:700px){
    .banner{
        padding: 60px 0;
    }
    
}
/* responsive for quick-list---------------------
---------------------------------------------- */
@media screen and (max-width:900px){
    .quick-list{
        flex-direction: column;
        padding: 0;
        text-align: center;
        padding: 60px;
        gap: 30px;
    }
    .quick-list>div{
        width: 100%;
    }
    
}
@media screen and (max-width:700px){
    .quick-list{
        padding: 0;
    }
}
/* responsive for love-enjoy part-------------------------
----------------------------------------------------*/
@media screen and (max-width:1200px){
    .love-enjoy{
        flex-direction: column-reverse;
        padding: 30px 120px;
    }
    .love-enjoy>div{
        width: 100%;
    }
    
}
@media screen and (max-width:700px){
    .love-enjoy{
        padding:60px 0;
        text-align: center;
    }
    .love-enjoy-btn{
        padding: 10px;
        bottom:-50px;
        left: 0;
    }
    .love-enjoy-btn h1{
        font-size: 30px;
    }
    
}
/* responsive for  some facts part---------------------
----------------------------------------------------*/
@media screen and (max-width:1050px){
    .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       
    }
    .cards>.card{
        width: 100%;

    }
    .some-facts{
        text-align: center;
        
    }
    
}
@media screen and (max-width:700px){
    .cards{
        grid-template-columns: repeat(1, 1fr);
    }
    .some-facts{
        padding:60px 0;
    }
    .card{
        border-radius: 20px;
    }
    
}
/* responsive for sponsores part----------------
----------------------------------------------- */
@media screen and (max-width:776px){
    .sponsore{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
    }
    .our-sponsore{
        padding: 60px 0;
    }
    
}
